<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Minha_Lista.Properties.Settings.DB_CONTROLE_COMPRASConnectionString"
            connectionString="Data Source=DESKTOP-AOPO69T;Initial Catalog=DB_CONTROLE_COMPRAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>